<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Heroes 3 stat engine</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>

<table width="100%" border="0" cellpadding="0" cellspacing="0" th:replace="/templates/header.html :: header(name='Homepage')">
    <tr>
        <td width="150" rowspan="2">
            <div align="right"><a href="/"><img src="/img/logo.png" width="176" height="219" border="0"/></a></div>
        </td>
        <td width="90%" height="100">
            <div align="center" class="old1 old3">
                <p>Heroes III Stat Engine<br/>
                    <span class="old5">(Total players statistics)</span></p>
            </div>
        </td>
        <td><a href="/unconfirmed"><img src="/img/att.gif" alt="Unconfirmed reports" width="341" height="133"
                                        border="0"/></a></td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="100%" border="3" cellpadding="3" cellspacing="0" bordercolor="#CCCCCC" bgcolor="#666666">
                <tr>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/">Home</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/rating">Rating</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/tournament_rating/">Tournament Rating</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/templates/">Templates</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/castles/">Castles</a></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br/>
<table width="90%" border="1" align="center">
    <tr>
        <td width="90%" bgcolor="#FFFFFF" class="old4">
            <div id="gamesActivity" align="center">The HomePage Diagram (e.g. the timeline frequency of total matches)</div>
            <div id="playerActivity" align="center">The HomePage Diagram (e.g. the timeline activity of players)</div>
        </td>
    </tr>
</table>
<script th:inline="javascript">
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawGamesActivity);
google.charts.setOnLoadCallback(drawPlayerActivity);

function drawGamesActivity() {
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'X');
      data.addColumn('number', 'Activity');

      data.addRows([
      /*[(${gamesActivity})]*/ [new Date('2018-01-01'), 10]
      ]);

      var options = {
        hAxis: {
          title: 'Time',
          format: 'MM-yy'
        },
        vAxis: {
          title: 'Games played'
        },
        width: 800,
        height: 300
      };

      var chart = new google.visualization.LineChart(document.getElementById('gamesActivity'));
      chart.draw(data, options);
    };
function drawPlayerActivity() {
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'X');
      data.addColumn('number', 'Activity');

      data.addRows([
      /*[(${playerActivity})]*/ [new Date('2018-01-01'), 10]
      ]);

      var options = {
        hAxis: {
          title: 'Time',
          format: 'MM-yy'
        },
        vAxis: {
          title: 'Active players'
        },
        width: 800,
        height: 300
      };

      var chart = new google.visualization.LineChart(document.getElementById('playerActivity'));
      chart.draw(data, options);
    };
</script>
</body>
</html>