<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Player &lt;luckyf&gt;</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="150" rowspan="2">
            <div align="right"><a href="/"><img src="/img/logo.png" width="176" height="219" border="0"/></a></div>
        </td>
        <td width="90%" height="100">
            <div align="center" class="old1 old3">
                <p>Heroes III Stat Engine<br/>
                    <span class="old5">(&lt;luckyf&gt;'s page) </span></p>
            </div>
        </td>
        <td><a href="/unconfirmed"><img src="/img/att.gif" alt="Unconfirmed reports" width="341" height="133"
                                         border="0"/></a></td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="100%" border="3" cellpadding="3" cellspacing="0" bordercolor="#CCCCCC" bgcolor="#666666">
                <tr>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/">Home</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/rating">Rating</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/tournament_rating/">Tournament Rating</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/templates/">Templates</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/castles/">Castles</a></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="96%" border="1" align="center" bgcolor="#000000">
    <tr>
        <td width="90%" valign="top">
            <table border="1">
                <tbody>
                <tr align="center">
                    <td bgcolor="#FFFFFF"><span class="old8">Date of game</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">name</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">castle</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">start<br/>
            Hero</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">main<br/>
            Hero</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">Result</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">name</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">castle</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">start<br/>
            Hero</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">main<br/>
            Hero</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">template</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">finished</span></td>

                    <td bgcolor="#FFFFFF"><span class="old8">p1&nbsp;Overall&nbsp;rating</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">p2&nbsp;Overall&nbsp;rating</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">p1 Season rating</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">p2 Season rating</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">link1</span></td>
                    <td bgcolor="#FFFFFF"><span class="old8">link2</span></td>
                </tr>
                <tr th:each="result : ${player.results}" align=center>
                    <td><span class="old9" th:text="${result.date}">${result.date}</span></td>
                    <td class="old10"><font th:color="${result.reporter.color}" th:text="${result.reporter.name}">${result.reporter.name}</font></td>
                    <td th:text="${result.reporter.castle}">${result.reporter.castle!'--'}</td>
                    <td th:text="${result.reporter.startH}">${result.reporter.startH}</td>
                    <td th:text="${result.reporter.finalH}">${result.reporter.finalH}</td>
                    <td class="old13" th:text="${result.result}">${result.result}</td>

                    <td class="old11"><font th:color="${result.confirmer.color}" th:text="${result.confirmer.name}">${result.confirmer.name}</font></td>
                    <td th:text="${result.confirmer.castle}">${result.confirmer.castle!'--'}</td>
                    <td th:text="${result.confirmer.startH}">${result.confirmer.startH}</td>
                    <td th:text="${result.confirmer.finalH}">${result.confirmer.finalH}</td>
                    <td th:text="${result.template}">${result.template!'--'}</td>
                    <td><span class="old9" th:text="${result.timing}">${result.timing}</span></td>
                    <td><span class="old9" th:text="${result.previousReporter} + ' -> ' + ${result.previousReporter + result.reporterChange} + '(' + ${result.reporterChange}+ ')'">${result.previousReporter + result.reporterChange} -&gt; ${result.previousConfirmer}(${result.reporterChange})</span>
                    </td>
                    <td><span class="old9" th:text="${result.previousConfirmer} + ' -> ' + ${result.previousConfirmer + result.confirmerChange} + '( ' + ${result.confirmerChange} + ')'">${result.previousConfirmer + result.confirmerChange} -&gt; ${result.previousConfirmer}(${result.confirmerChange})</span>
                    </td>
                    <td><span class="old9" th:text="'--'">--</span></td>
                    <td><span class="old9" th:text="'--'">--</span></td>
                    <td><span class="old9"><a th:href="'http://forum.heroesworld.ru/' + ${result.reporter.reportLink}">link1</a></span></td>
                    <td><span class="old9"><a th:href="'http://forum.heroesworld.ru/' + ${result.confirmer.reportLink}">link2</a></span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
</body>
</html>