<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Players rating</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>

<table width="100%" border="0" cellpadding="0" cellspacing="0" th:fragment="templateItem()">
    <tr>
        <td width="150" rowspan="2">
            <div align="right"><a href="/"><img src="/img/logo.png" width="176" height="219" border="0"/></a></div>
        </td>
        <td width="90%" height="100">
            <div align="center" class="old1 old3">
                <p>Heroes III Stat Engine<br/>
                    <span class="old5">(Total players statistics)</span></p>
            </div>
        </td>
        <td><a href="/unconfirmed"><img src="/img/att.gif" alt="Unconfirmed reports" width="341" height="133"
                                        border="0"/></a></td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="100%" border="3" cellpadding="3" cellspacing="0" bordercolor="#CCCCCC" bgcolor="#666666">
                <tr>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/">Home</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/rating">Rating</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/tournament_rating/">Tournament Rating</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/templates/">Templates</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/castles/">Castles</a></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br/>

<table width="90%" border="1" align="center">
    <tr>
        <td>Template</td>
        <td width="80%">Timings</td>
        <td>Total games</td>
    </tr>
    <tr th:fragment="templateStats(template, ladder)">
        <td>
            <a th:href="'/templates/' + ${template.name().toLowerCase()}" th:text="${template.templateName}">
                Jebus cross
            </a>
        </td>
        <td width="80%">
            <div th:id="${template.name()}"></div>
            <script th:inline="javascript">
                google.charts.setOnLoadCallback(draw[(${template.name()})]);

                function draw[(${template.name()})]() {

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Timings');
                data.addColumn('number', 'Number of games');

                data.addRows([
                    [(${dataModel})]
                ]);

                var options = {
                title: '[(${template.templateName})]\'s template timings',
                hAxis: {
                    title: 'Timings'
                },
                vAxis: {
                    title: 'Number of games'
                }
                };

                var chart = new google.visualization.ColumnChart(
                document.getElementById('[(${template.name})]'));

                chart.draw(data, options);
                }
            </script>
        </td>
        <td th:text="${ladder.totalGames}"></td>
        <td th:text="${ladder.items.entrySet().iterator().next().value.name}"></td>
    </tr>
</table>
</body>
</html>