<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Unconfirmed raports for today</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="150" rowspan="2">
            <div align="right"><a href="/"><img src="/img/logo.png" width="176" height="219" border="0"/></a></div>
        </td>
        <td height="100">
            <div align="center" class="old1 old3">
                <p>Heroes III Stat Engine<br/>
                    <span class="old5">The unconfirmed games on {current_date} </span></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="3" cellpadding="3" cellspacing="0" bordercolor="#CCCCCC" bgcolor="#666666">
                <tr>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/">Home</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/rating">Rating</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/tournament_rating/">Tournament Rating</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/templates/">Templates</a></div>
                    </td>
                    <td width="20%">
                        <div align="center" class="old2"><a href="/castles/">Castles</a></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br/>
<table width="90%" border="1" align="center" bgcolor="#000000">
    <tr>
        <td width="88%" class="old4">
            <div align="center">The list of all <span class="old5">unconfirmed games</span> sorted by date (from oldest
                to newer)<br>
                Notice: The list is updated once pr. hour. So when you confirm the report you have to wait up to one
                hour before you are removed from the list!<br>
                <table width="96%" border="1" align="center" bgcolor="#000000">
                    <tr>
                        <td width="90%" valign="top">
                            <table border="1">
                                <tbody>
                                <tr align="center">
                                    <td bgcolor="#FFFFFF"><span class="old8">Date of game</span></td>
                                    <td bgcolor="#FFFFFF"><span class="old8">name</span></td>
                                    <td bgcolor="#FFFFFF"><span class="old8">castle</span></td>
                                    <td bgcolor="#FFFFFF"><span class="old8">start<br/>
            Hero</span></td>
                                    <td bgcolor="#FFFFFF"><span class="old8">main<br/>
            Hero</span></td>
                                    <td bgcolor="#FFFFFF"><span class="old8">Result</span></td>
                                    <td bgcolor="#FFFFFF"><span class="old8">name</span></td>
                                    <td bgcolor="#FFFFFF"><span class="old8">castle</span></td>
                                    <td bgcolor="#FFFFFF"><span class="old8">start<br/>
            Hero</span></td>
                                    <td bgcolor="#FFFFFF"><span class="old8">main<br/>
            Hero</span></td>
                                    <td bgcolor="#FFFFFF"><span class="old8">template</span></td>
                                    <td bgcolor="#FFFFFF"><span class="old8">finished</span></td>
                                    <td bgcolor="#FFFFFF"><span class="old8">link</span></td>

                                </tr>

                                <tr th:each="game: ${unconfirmed.games}" align=center>
                                    <td><span class="old9" th:text="${game.date}">2015-05-05</span></td>
                                    <td><strong><font th:color="${game.reporter.color}" th:text="${game.reporter.name}">злой_романтик</font></strong>
                                    </td>
                                    <td width="46" th:if="${game.reporter.randomInfo.name() == 'CASTLE'}" th:background="'/icons/' + ${#strings.capitalize(game.reporter.castle.name().toLowerCase())} + '.png'">
                                        <img src="/icons/ran.png" width="46" height="32">
                                    </td>
                                    <td th:if="${game.reporter.randomInfo.name() != 'CASTLE'}">
                                        <img width="46" height="32" border="0" th:src="'/icons/' + ${#strings.capitalize(game.reporter.castle.name().toLowerCase())} + '.png'">
                                    </td>
                                    <td th:if="${game.reporter.randomInfo.name() == 'NO'}">
                                        <img width="46" height="32" border="0" th:src="'/icons/' + ${#strings.capitalize(game.reporter.startHero.name().toLowerCase())} + '.png'">
                                    </td>
                                    <td width="46" th:if="${game.reporter.randomInfo.name() != 'NO'}" th:background="'/icons/' + ${#strings.capitalize(game.reporter.startHero.name().toLowerCase())} + '.png'">
                                        <img src="/icons/ran.png" width="46" height="32">
                                    </td>
                                    <td>
                                        <img width="46" height="32" border="0" th:src="'/icons/' + ${#strings.capitalize(game.reporter.finalHero.name().toLowerCase())} + '.png'">
                                    </td>
                                    <td th:if="${game.result.name() == 'LOSE'}" class="old12">lose</td>
                                    <td th:if="${game.result.name() == 'DEF'}" class="old13">def</td>
                                    <td th:if="${game.result.name() == 'DRAW'}" class="old14">draw</td>

                                    <td><strong><font th:color="${game.confirmer.color}"
                                                      th:text="${game.confirmer.name}">chemist_hp</font></strong></td>
                                    <td width="46" th:if="${game.confirmer.randomInfo.name() == 'CASTLE'}" th:background="'/icons/' + ${#strings.capitalize(game.confirmer.castle.name().toLowerCase())} + '.png'">
                                        <img src="/icons/ran.png" width="46" height="32">
                                    </td>
                                    <td th:if="${game.confirmer.randomInfo.name() != 'CASTLE'}">
                                        <img width="46" height="32" border="0" th:src="'/icons/' + ${#strings.capitalize(game.confirmer.castle.name().toLowerCase())} + '.png'">
                                    </td>
                                    <td th:if="${game.confirmer.randomInfo.name() == 'NO'}">
                                        <img width="46" height="32" border="0" th:src="'/icons/' + ${#strings.capitalize(game.confirmer.startHero.name().toLowerCase())} + '.png'">
                                    </td>
                                    <td width="46" th:if="${game.confirmer.randomInfo.name() != 'NO'}" th:background="'/icons/' + ${#strings.capitalize(game.confirmer.startHero.name().toLowerCase())} + '.png'">
                                        <img src="/icons/ran.png" width="46" height="32">
                                    </td>
                                    <td>
                                        <img width="46" height="32" border="0" th:src="'/icons/' + ${#strings.capitalize(game.confirmer.finalHero.name().toLowerCase())} + '.png'">
                                    </td>
                                    <td><span class="old9" th:text="${game.template.templateName}">Mini-Nostalgia</span></td>
                                    <td><span class="old9" th:text="${game.timing}">217</span></td>
                                    <td><span class="old9"><a
                                            th:href="'http://forum.heroesworld.ru/' + ${game.reporter.reportLink}">click to confirm</a></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td width="15%" valign="top">
            <div align="center">
                <p class="old4">&nbsp;</p>
                <p class="old4">The top 20 lazybones</p>
                <p>
                <ul>
                    <li th:each="e, iter : ${unconfirmed.lazybones}" th:if="${iter.index < 20}">
                        <a th:href="'/unconfirmed/' + ${e.key}" th:text="${e.key}">u2noob</a>
                        <span th:text="'(' + ${e.value} + ')'"></span>
                    </li>
                </ul>
                </p>
            </div>
        </td>
    </tr>
</table>
</body>
</html>